<div class="header">
    <div class="header-left">
       <a href="http://localhost:3001/mms/student/dashboard" class="logo">
       <img class="rounded-circle" src="/assests/mess_logo.png" height="40px" alt="Logo">
       </a>
       <a href="" class="logo logo-small">
       <img src="" alt="Logo" width="30" height="30">
       </a>
    </div>
    <div class="header-right">
      <form method="get" action="http://localhost:3001/mms/student/logout">
         <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Logout</button>
         </div>
      </form>
    </div>
 </div>

