<div class="header">
    <div class="header-left">
       <a href="http://localhost:3001/mms/admin/dashboard" class="logo">
         <img class="rounded-circle" src="/assests/mess_logo.png" height="40px" alt="Logo">
       </a>
       <button id="toggleSidebarBtn" class="btn btn-primary" style="display: none;">
         <i class="fas fa-bars"></i>
      </button>
       <form method="get" action="http://localhost:3001/mms/admin/logout">
         <div class="form-group">
            <button class="btn btn-primary btn-block" id="logout" type="submit">Logout</button>
         </div>
      </form>
    </div>

    <div class="header-right">
      <form method="get" action="http://localhost:3001/mms/admin/logout">
         <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Logout</button>
         </div>
      </form>
    </div>
 </div>